body {
font-size:15px !important;
}
.test {
    width: 71rem;
    background-color: white;
    text-align: justify;
    margin-top: 55px !important;
    padding: 40px !important;
    margin-right:25%;
    margin-bottom:50px;
}
.headerform {
    background-color: #2dc3e8;
    color: wheat;
    font-size: initial;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}
.fonT {
font-size:14px !important;
}
.box {
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 18px;
    padding: 45px 35px;
}
.mb {
    margin-bottom: 3rem !important;
}
.ticket {
    background-color: white;
    border-radius: 14px;
    margin-top:10px;
    width: 30%;
}
.answer {
    margin-top:10px !important;

}
.form {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    min-height: 50px;
    font-size: 14px;
}