@model Store_BootCamp.Domain.Models.Contacts.ContactUsResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Answer</title>
</head>
<body>
    <h1>@Model.EmailUser جناب پاسخ شما ارسال شد</h1>
    <p>
        @Model.ResponseMessage
    </p>
</body>
</html>
