
<!DOCTYPE html>
<html lang="fa">

<head>
    <partial name="_HaedRefrences" />
    <partial name="_StyleRefrences" />
    
</head>

<body>

    <div class="page-wrapper">
       
        @await Component.InvokeAsync("SiteHeader")

        <!-- start of page-content -->
        @RenderBody()
        <!-- end of page-content -->

        @await Component.InvokeAsync("SiteFooter")
    </div>


    <partial name="_JsRefrences" />
</body>

</html>