
@{
    ViewData["Title"] = "پیام ها";
}

<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/AdminPanel">خانه</a>
            </li>
            <li class="active">@ViewData["Title"]</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                @ViewData["Title"]
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">

            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">

        <div class="row">    
            <div class="col-lg-12 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-themesecondary">
                                <i class="widget-icon fa fa-tags themesecondary"></i>
                                <span class="widget-caption themesecondary">لیست پیام ها</span>
                            </div><!--Widget Header-->
                            <div class="widget-body no-padding">
                                <div class="tickets-container">
                                    <ul class="tickets-list">

                                        <li class="ticket-item">
                                            <div class="row">
                                                <div class="ticket-user col-lg-6 col-sm-12">
                                                    <img src="/assets/img/avatars/adam-jansen.jpg" class="user-avatar">
                                                    <span class="user-name">آدام جانسون</span>
                                                    <span class="user-at">از</span>
                                                    <span class="user-company">مایکروسافت</span>
                                                </div>
                                                <div class="ticket-time  col-lg-4 col-sm-6 col-xs-12">
                                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                                    <i class="fa fa-clock-o"></i>
                                                    <span class="time">1 ساعت پیش</span>
                                                </div>
                                                <div class="ticket-type  col-lg-2 col-sm-6 col-xs-12">
                                                    <span class="divider hidden-xs"></span>
                                                    <span class="type">مشکل</span>
                                                </div>
                                                <div class="ticket-state bg-palegreen">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        
    </div>
    <!-- /Page Body -->
</div>

