@model Store_BootCamp.Application.ViewModels.Account.UserViewmodel
<div class="container">
    <div class="row">


        <div class="widget-body col-4">
            <form id="registrationForm" method="post" enctype="multipart/form-data" class="form-horizontal bv-form" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" novalidate="novalidate">

                <div class="form-group has-feedback p-3">
                    <input asp-for="email" type="email" class="form-control mt-3" placeholder="email">
                    <span asp-validation-for="email" class="text-danger"></span>

                    <input asp-for="username" type="text" class="form-control mt-3" placeholder="username">
                    <span asp-validation-for="username" class="text-danger"></span>

                    <input asp-for="fullname" type="text" class="form-control mt-3" placeholder="fullname">
                    <span asp-validation-for="fullname" class="text-danger"></span>

                    <input name="ImgUp" type="file" class="form-control mt-3">
                    <span asp-validation-for="img" class="text-danger"></span>

                    <input asp-for="password" type="password" class="form-control mt-3" placeholder="password">
                    <span asp-validation-for="password" class="text-danger"></span>

                    <input asp-for="ConfirmPassword" type="password" class="form-control mt-3" placeholder="confirm password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-8">
                        <input class="btn btn-palegreen" type="submit" value="Validate">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>