@model Store_BootCamp.Application.ViewModels.Account.UserViewmodel
<div class="container">
    <div class="row">
        <form class="col-4" asp-area="AdminPanel" asp-controller="Home" asp-action="EditUser" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input asp-for="email" type="email" class="form-control"  aria-describedby="emailHelp" value="@Model.email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">User Name</label>
                <input asp-for="username" type="text" class="form-control"  value="@Model.username" placeholder="UserName">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">fullname</label>
                <input asp-for="fullname" type="text" class="form-control"   value="@Model.fullname" placeholder="fullname">
            </div>   
            <div class="form-group">
                <label>piv profile :</label>
                <input name="ImgUp" value="true" type="file" class="checkbox">
            </div>
            <div class="form-group">
                <label style="display: inline-block">is Active : </label>
                <input style="opacity: unset; position: unset;display: inline-block" asp-for="isActive" type="checkbox"  class="checkbox">
            </div>
            <div class="form-group">
                <label>is Admin :</label>
                <input style="opacity: unset;position: unset" type="checkbox" asp-for="IsAdmin"  />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>
