
<!DOCTYPE html>
<!--
 https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <partial name="_MetaTags" />
    <partial name="_CssRefrences" />
</head>
<!-- /Head -->
<!-- Body -->
<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <partial name="_Navbar" />
    <!--  /Loading Container -->
    <partial name="_SidebarAdmin" />
    @RenderBody()
    <partial name="_JsRefrences" />
</body>
<!--  /Body -->
</html>

